<p-panel header="Pipes Básicos" class="p-3">
  <p>
    Pipes incluídos en Angular - Usuarlmente en el Common Module.
  </p>
</p-panel>

<div class="grid mt-2">
  <div class="col-4">
    <p-card header="uppercase">
      {{ nameLower | uppercase }}
    </p-card>
  </div>

  <div class="col-4">
    <p-card header="lowercase">
      {{ nameUpper | lowercase }}
    </p-card>
  </div>

  <div class="col-4">
    <p-card header="titlecase">
      {{ fullName | titlecase }}
    </p-card>
  </div>

</div>
