<p-panel header="Pipes Numéricos" class="p-3">
  <p>
    Pipes incluídos en Angular - Usuarlmente en el Common Module.
  </p>
</p-panel>

<div class="grid mt-2">
  <div class="col-12 md:col-6 lg:col-3">
    <p-card header="Ventas Netas">
      {{ totalSells + 1235 | number:'1.2-2' }}
    </p-card>
  </div>

  <div class="col-12 md:col-6 lg:col-3">
    <p-card header="Ventas Brutas">
      {{ totalSells | currency:'ARS':'symbol-narrow':'1.4-4' }}
    </p-card>
  </div>

  <div class="col-12 md:col-6 lg:col-3">
    <p-card header="Ganancia porcentual" subheader="del presente año">
      {{ percent | percent:'1.2-2' }}
    </p-card>
  </div>
</div>
